@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    

}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:#ecf0f1;
    
}

.content{
    background-color:#fff;
    border-radius: 15px;
    width:960px;
    height:50%;
    
    justify-content: space-between;
    align-items:center;
    position: relative;

}
.first-content{
    display:flex;
    
}
.btn{
    border-radius: 15px;
    text-transform:uppercase;
    color:#fff;
    font-size:10px;
    padding:10px 50px;
    cursor: pointer;
    font-weight:bold ;
    width:150px;
    align-self:center;
    border-width: 0;
}

.buttonWelcome{
  background-color:transparent;
  border: 1px solid  #fff;


}

.buttonCreate{
    background-color:#58af9b;
    border: 1px solid #58af9b;
}

.buttonCreate:hover{
    background-color:#fff;
    border:1px solid  #58af9b;
    color: #58af9b;
    transition: 2s;
}

.buttonWelcome:hover{
    background-color:#fff;
    color:#58af9b;
    transition:2s;

}


.first-column{
    text-align:center;
    flex:1 0 auto;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.content::before{
    content:"";
    position:absolute;
    background-color:#58af9b;
    width:40%;
    height:100%;
    
    
}


.title{
    color:#fff;
    font-size: 28px;
    font-weight:bold;
    text-transform:capitalize;

}
.titleWelcome{
    color:#fff;
    font-size: 28px;
    font-weight:bold;
    text-transform:capitalize;
}

.titleCreate{
    color: #58af9b;
    
}
.description{
    font-size:14px;
    font-weight: 300;
    color:#fff;
    line-height: 30px;


}
.descriptionWelcome{
    color:#fff;
}
.descriptionCreate{
    color:#7f8c8d;

}

.socialMidia{
    display:flex;
    list-style-type: none;

    
}
form{
    display:flex;
    flex-direction: column;
    width: 55%;
   
}
input{
    height:45px;
    border: none;
    background-color:#ecf0f1;
    margin:8px;
    border-radius: 30%;
    
    
    
    
}


.second-content{
    
    position:absolute;
    display:none;
    
}






